/*
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
 */
.spin::after {
    content: "...";
    display: inline-block;
    white-space: nowrap;
    width: 0ch;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots 1s steps(4, end) infinite;
}

@keyframes dots {
    to {
        width: 4ch;
    }
}
