/*
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
 */
.spin::after {
    content: "...";
    display: inline-block;
    white-space: nowrap;
    width: 0ch;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots 1s steps(4, end) infinite;
}

@keyframes dots {
    to {
        width: 4ch;
    }
}


dl.margins-removed {
    margin: 0;
    padding: 0;
}

.margins-removed dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.margins-removed dd {
    margin: 0 0 1em 0;
    padding: 0;
}

dl.table-display {
    float: left;
    width: 520px;
    margin: 1em 0;
    padding: 0;
    border-bottom: 1px solid #999;
}

.table-display dt {
    clear: left;
    float: left;
    width: 200px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
    font-weight: bold;
}

.table-display dd {
    float: left;
    width: 300px;
    margin: 0;
    padding: 5px;
    border-top: 1px solid #999;
}

[data-loading] {
    display: none;
}

html,
body {
    margin: 0px;
}
