package templates

type AboutDto struct {
    BaseDto
}

templ About(content AboutDto) {
    @Page("About Where Am I?", content.VersionNumber) {
    <div class="components">
    <main>
    <section>
    <h1>About Where Am I?</h1>
    <p>TBD</p>
    </section>
    </main>
</div>
    }
}
