package templates
import (
    "github.com/zmaillard/whereami/templates/components"
)

type IndexDto struct {
    components.BaseDto
}

templ Dashboard(content IndexDto) {
    @Page("Where Am I?", content.VersionNumber) {
    <div class="components">
    <main>
    <section x-data="locate">
          <form id="locationForm" method="POST" action="/">
             <input name="lat" type="hidden" id="latitude" />
             <input name="lng" type="hidden" id="longitude" />
              <div class="form-group">
                <input x-model="searchFilter" type="text" placeholder="Enter Another Location For Where You Are">
              </div>
              <div class="form-group">
                <button @click="search" class="btn btn-default" type="submit" role="button" >Where Am I?</button>
              </div>
        </form>
        <p x-show="hascoords" x-text="displaycoords"></p>
    </section>
    </main>
</div>

<input id="mapbox_token" type="hidden" value={ content.MapboxToken } />
<script src="/assets/js/locate.js"></script>
    }
}
