package templates

templ Page (title string, version string) {
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="#1f6821">
    <title>{ title }</title>

    <link href="/assets/css/app.css" rel="stylesheet" type="text/css" />

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
              integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
              crossorigin="anonymous"></script>
</head>
<body>
    <main class="wrapper">
        <header class="header">
            <section class="container">
            <h1>Where Am I?</h1>
            </section>
        </header>
        <section class="container">
        { children... }
        </section>
        <footer class="footer">
            <section class="container">
            <p>{ version } - Where Am I?</p>
            </section>
        </footer>
    </main>
    <script src="/assets/js/theme.js"></script>
</body>
</html>
}