package templates
templ Page (title string, version string) {
<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta name="theme-color" content="#1f6821">
    <title>{ title }</title>

    <link href="/assets/css/app.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    >

    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
              integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
              crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx-ext-loading-states@2.0.0/loading-states.js"></script>
</head>
<body hx-ext="loading-states">
        <header>
            <section class="hero">
                <div class="hero-body">
                    <p class="title">Where Am I?</p>
                    <p class="subtitle">Short Answer</p>
                </div>
            </section>
        </header>
        <main class="container">
        { children... }
        </main>
        <footer class="container">
            <p>{ version } - Where Am I?</p>
        </footer>
    <script src="/assets/js/theme.js"></script>
</body>
</html>
}