package templates

import "github.com/zmaillard/whereami/templates/components"

type MapDto struct {
    BaseDto
}

templ Map(content MapDto) {
    @components.Css() {
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
             integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
             crossorigin=""/>
        <link rel="stylesheet" href="/assets/css/map.css"/>
    }

    @components.Script() {
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js"
                  integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
                  crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx-ext-loading-states@2.0.0/loading-states.js"></script>
         <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
             integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
             crossorigin=""></script>
    }


    @Page("Where Am I? - Map", content.VersionNumber) {
    <div class="map-container" x-data="mapsidebar">
        <div id="map"></div>
        <div class="details-widget-container">
            <div id="widget" class="has-text-light has-background-grey-light">
                <div x-show="hasplace">
                    <div x-html="formatplace"></div>
                </div>
                <button x-bind:class="isLoading ? 'is-loading' : ''" @click="openModal" class="button is-ghost is-small js-modal-trigger">Details</button>
            </div>
        </div>
        <div class="modal map-details-modal">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title" x-html="modalheader"></p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body" >
                <div x-html="details" id="details-modal-result" class="content">
                </div>
              <!-- Content ... -->
            </section>
          </div>
        </div>
    </div>
    <script src="/assets/js/map.js"></script>
    }
}
